@charset "UTF-8";
/*!
 * Personal Styles for Coursera Project-01
 */

.header-logo {
    margin: 30px;
    height: 100px;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Coursera_logo.svg/1200px-Coursera_logo.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main-header-navigation {
    background: #498add;

}

.nav-list {
    display: flex;
    padding: 10px 15px;
}

.nav-list li {
    margin-right: 40px;
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    text-transform: none;
    font-weight: 700;
    color: #fff;
}

/* Old Styles

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: auto;
}

.content {
    margin: auto;
    width: 800px;
}

.main-header {
    background: rgba(189, 228, 187, 0.288);
    padding-top: 50px;
}


.header-top {
    margin: auto;

}

.header-logo {

    width: 800px;
    height: 100px;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Coursera_logo.svg/1200px-Coursera_logo.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.section {
    margin-top: 100px;
    margin-bottom: 50px;
}

.nav-list {
    padding: 0;
    list-style: none;
}

.nav-bullet {
    display: inline-block;
    margin-right: 20px;
    padding: 0px;
}

.nav-bullet:first-child {
    margin-left: 40px;
}

.back-sticker {
    position: fixed;
    right: 50px;
    bottom: 100px;
    padding: 5px;
    margin: 10px;
    font-size: 16px;
    background-color: #dfdfdf;
    border: 1px solid #000;
    border-radius: 30%;
}

.back-sticker:hover {
    background-color: #209426;

}

.back-sticker:hover {
    background-color: #209426;
    opacity: 0.4;
}

.back-sticker a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    line-height: 2;
}

.heading-1 {
    color: rgb(18, 77, 153);
}

h1.heading-1 {
    color: green;
    position: absolute;
    left: 100px;
    top: 0;
}

p.heading-1 {
    color: rgb(230, 86, 34);
}

.content > p.heading-1 {
    color: blue;
}

.content p.heading-1 {
    color: rgb(204, 19, 90);
}

p.heading-1.colored {
    color: black;
}

header a:visited, header a:link {
    color: red;
    text-transform: none;
    text-decoration: none;
}

.spec {
    position: relative;
    left: -50px;
}

#section-2 {
    float: left;
    width: 40%;
}

#section-2 .content {
    box-sizing: border-box;
    width: auto;
}

#section-3 {
    float: right;
    width: 40%;
}

#section-3 .content {
    box-sizing: border-box;
    width: auto;

}
*/